.article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  //左边
  .left {
    height: 100%;

    .banner {
      width: 100%;
      height: 320px;
      display: flex;
      position: relative;

      img {
        width: 98%;
        height: 300px;
        margin: 10px auto;
      }

      .imgMack {
        width: 98%;
        height: 300px;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        left: 8px;
        color: #fff;
        font-size: 20px;
        line-height: 300px;
        text-align: center;
      }
    }

    // 文章页内容
    .list {
      width: 100%;
      margin-top: 15px;
      padding: 20px;

      // 文章筛选
      ul {
        height: 50px;
        align-items: center;
        display: flex;

        li {
          margin-left: 20px;
        }

        li:hover {
          color: #ff0064;
        }

      }


      // 每个模块的内容
      .concent {
        width: 100%;
        padding: 5px;
        padding-left: 30px;
        padding-bottom: 30px;
        border-top: 1px solid #ccc;
        display: flex;
        flex-direction: column;

        // 每个模块中间的内容
        .summary {
          width: 100%;
          display: flex;
          justify-content: space-around;

          // 每个模块中间的主题
          p {
            width: 80%;
          }

          // 每个模块中间的图片
          img {
            width: 150px;
            height: 100px;
          }

          // 每个模块的icon
        .summary  .ico:hover {
           color: #ff0064;
          
          }
        }
      }

    }

  }

  // 右边
  .right {
    width: 25%;
    margin-left: 2%;
    position: absolute;
    top: 0%;
    right: -2%;

    .read {
      width: 100%;
      padding: 5px
    }

    .tag {
      width: 100%;
      margin-top: 20px;
      padding: 5px
    }
  }
}