.articleTab {
  width: 100%;
  height: 100%;
  margin-top: 15px;

  .articleTabTop {
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    align-items: center;
    position: relative;

    .articleTabTitle {
      box-sizing: border-box;

      span {
        font-size: 20px;
        color: #ff0064;
      }
    }
  }


  .articleTabTab {
    padding: 10px;

    p {
      span {
        padding: 5px;
        margin: 5px;
        display: inline-block;
        border: 1px solid #ccc;
        font-size: 12px
      }
    }
  }

  .articleTabCon {
    margin-top: 30px;
    padding: 20px;


    .concent {
      width: 100%;
      height: 200px;
      // display: flex;
      border-top: 1px solid #ccc;
    }

    .concent:hover h1 {
      color: #ff0064;
    }

    .summary {
      display: flex;
      justify-content: space-between;

      p {
        width: 80%;
      }
    }

    img {
      width: 150px;
      height: 100px;
    }

    .ico {
      span {
        margin-left: 10px;
      }
    }
  }

  // 右边
  .right {
    width: 35%;
    margin-left: 2%;
    position: absolute;
    top: 1%;
    right: -8%;

    .read {
      width: 100%;
      padding: 5px
    }

    .tag {
      width: 100%;
      margin-top: 20px;
    }
  }


}