.bannerDetail {
  width: 100%;
  height: 100%;

  .left {
    width: 100%;
    height: 100%;

    .banner {
      width: 100%;
      padding: 35px;
      position: relative;
      margin-bottom: 15px;

      img {
        width: 100%;
        height: 300px;
      }
    >h1,
    >h2,
    >h3,
    >h4,
    >h5,
    >h6 {
      margin: 20px 0;
    }
      div {
line-height: 30px;
        >h1,
        >h2,
        >h3,
        >h4,
        >h5,
        >h6 {
          margin: 20px 0;
        }
      }

    }


  }

  // 右边
  .right {
    width: 25%;
    margin-left: 2%;
    position: absolute;
    top: 0%;
    right: 3%;


    .read {
      width: 100%;
    }

    .tag {
      width: 100%;
      margin-top: 20px;
    }

    ul {
      margin-left: 30px;

      li {
        list-style-type: disc;

      }
    }

    .tag {
      width: 100%;
      margin-top: 20px;
    }
  }
}