.fe {
  width: 100%;
  height: 100%;
  margin-top: 15px;

  .top {
    width: 100%;
    height: 100px;
    text-align: center;
    align-items: center;
    position: relative;
    .title {
      span {
        font-size: 20px;
        color: #ff0064;
      }
    }
  }

    .list{
      margin-top: 60px;
      padding: 20px;
        ul {
          height: 50px;
          align-items: center;
          display: flex;
          li {
            margin-left: 20px;
          }
      
          li:hover {
            color: #ff0064;
          }
      
        }
      
        h1 {
          font-weight: bolder;
          font-size: 20px;
        }
      
        h1:hover {
          color: #ff0064;
        }
      
        .concent {
          width: 100%;
          height: 200px;
          // display: flex;
          border-top: 1px solid #ccc;
        }
      
        .summary {
          display: flex;
          justify-content: space-between;
      
          p {
            width: 80%;
          }
        }
      
        img {
          width: 150px;
          height: 100px;
        }
      
        .ico {
          span {
            margin-left: 10px;
          }
        }
      }

      
      // 右边
      .right {
        width: 35%;
        margin-left: 2%;
        position: absolute;
        top: 1%;
        right: -8%;
  
        .read {
          width: 100%; 
          padding: 5px
        }
  
        .tag {
          width: 100%; 
          margin-top: 20px;
        }
      }
    }