// 详情页的推荐阅读
.Reading {
    margin-top: 20px;

    >h1 {
        width: 100%;
        text-align: center;
        line-height: 50px;
    }

    .concent {
        padding: 10px;
        width: 100%;

    }

    .concent:hover h1 {
        color: #ff0064;
    }

    .summary {
        display: flex;
        justify-content: space-between;

        p {
            width: 80%;
        }
    }

    img {
        width: 150px;
        height: 100px;
    }

    .ico {
        span {
            margin-left: 10px;
        }
    }

}