// 整个页面的背景色跟字体颜色
.home {
    background: @bg-color;
    color: @text-color;
}

// 头部导航选中高亮的字体颜色
.activeOn {
    color: @gl-color;
}

// 头部导航选按钮的背景色和字体颜色
.home header .head ul li button {
    background-color: #fff;
    color: #000;
}

// 右侧的推荐阅读 标题的背景色和字体颜色
main #recommend h2 {
    background: @bg-color;
    color: @text-color;
}

// 右侧推荐阅读的背景色和字体颜色
main #recommend {
    background: @bg-color;
    color: @text-color;
}

// 右侧的文章标签 标题的背景色和字体颜色
main #labelTag h2 {
    background: @bg-color;
    color: @text-color;
}

// 右侧文章标签的背景色和字体颜色
main #labelTag {
    background: @bg-color;
    color: @text-color;
}

// 大主体的背景色
main {
    background: @main-color;
}

.pigeonhole {
    background: @bg-color;
}

.pigeonhole h1 {
    color: @text-color;
}

.pigeonhole h3 {
    color: @text-color;
}



// 文章页面左侧的列表
.article .left .list {
    background: @bg-color;
}

// 文章页面左侧上方的图片
.article .left .banner {
    background: @bg-color;
}

// 筛选页面
.fe {
    background: @main-color;

    .top,
    .list {
        background: @bg-color;
    }
}

// 文章列表的h1标签

.list h1{
    color: @text-color; 
}
.left_classify{
    background: @bg-color;
    color: @text-color;
}
.left_classify h2{
    color: @text-color;
}
.list h1 {
    color: @text-color;
}

// 文章标签页面的头部
.articleTabTop {
    background: @bg-color;
}

// 文章标签页面的切换
.articleTabTab {
    background: @bg-color;
}

// 文章标签页面的内容
.articleTabCon {
    background: @bg-color;
}

// 详情页的推荐阅读
.Reading {
    background: @bg-color;
    color: @text-color;
}

// 详情页的推荐阅读标题
.Reading>h1 {
    background: @main-color;
    color: @text-color;
}

.Reading>.concent>h1 {
    background: @bg-color;
    color: @text-color;
}

// 详情页 
.bannerDetail {
    background: @main-color;
}

// 详情页的左侧
.bannerDetail .left {
    background: @main-color;
}

// 详情页的左侧上部分
.bannerDetail .left .banner {
    background: @bg-color;
    color: @text-color;
}
// 详情页左侧上部分
.bannerDetail .left .banner>h1,
.bannerDetail .left .banner>h2,
.bannerDetail .left .banner>h3,
.bannerDetail .left .banner>h4,
.bannerDetail .left .banner>h5,
.bannerDetail .left .banner>h6{
    color: @text-color;
}
// 详情页左侧上部分
.bannerDetail .left .banner div h1,
.bannerDetail .left .banner div h2,
.bannerDetail .left .banner div h3,
.bannerDetail .left .banner div h4,
.bannerDetail .left .banner div h5,
.bannerDetail .left .banner div h6{
    color: @text-color;
}
//详情右侧h2标签
.bannerDetail .right h2{
    color: @text-color;
}
// 知识小册左侧
.knowledge_left {
    background: @bg-color;
    color: @text-color;
}
// 知识小册左侧内容 h1标签
.knowledge_left .knowledgelist>h1 { 
    color: @text-color;
}