.head {
  width: 80%;
  height: 50px;
  margin: 0 auto;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    .ant-menu {
      width: 30%;
    }

    li:hover {
      color: #ff0064;

      a {
        color: #000;
      }

      .head ul li a:hover {
        color: #ff0064;
      }
    }

    li.switchover {
    }

    li.switchover .languageUl {
      color: #000;
      display: none;
      text-align: center;
      position: absolute;
      z-index: 111;
      background-color: #fff;
      width: 3%;
      height: 10%;
      left: '20px';
      top: '40px';
      background: '#fff';
    }

    li.switchover:hover {
      .languageUl {
        display: block;

        padding: 0 5px 0 5px;

      }
    }

    li.switchover .languageUl li {
      padding: 10px 5px;
    }

    li.switchover .languageUl li:hover {
      background-color: #aaa;
    }
  }
}
