#Icon {
  width: 80%;
  margin: 20px auto; 
 
  padding: 10px;
  .SvgTab {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
  }
  .Copyright {
    width: 100%;
    text-align: center;
    line-height: 24px;
  }
}
