 // 文章标签
 #labelTag {
   width: 100%;
   box-shadow: 5px 5px 5px #999;
margin-top: 20px;
   h2 {
     padding: 5px;
     padding-left: 15px;
     padding-bottom: 15px;
     border-bottom: 1px solid #e5e6eb;
   }

   .tabContent span {
     padding: 7px 10px;
     margin: 5px;
     display: inline-block;
     border: 1px solid #ccc;
     font-size: 12px;
   }

   .tabContent span:hover {
     border: solid 1px #ff0065;
     color: #ff0065;
    
   }
 }