.about img{
    width: 100%;
    height: 500px;
   
}
.about img:hover{
     transform: scale(2);
    transform: rotate(360deg);
}
.about img:active{
    transform: scale(0.5);
    transform: rotate(-360deg);
}
.about h1{
    font-size: 30px;
    font-weight: 700;
}
.about p{
    font-size: 30px;
    font-weight: 600;
}
.about ul{
    width: 100%;
    border-top: 1px solid #ccc;
    
}

.about ul li{
    line-height: 50px;list-style-type: square;
    margin-left: 20px;
}