
  .article {
    width: 100%;
    height: 100%;
    //左边
    .left {
      width: 100%;
      height: 100%;
      .banner {
        width: 100%;
        height: 320px;
        display: flex;
        position: relative;
        img { 
          width: 98%;
          height: 300px;
          margin: 10px auto;
        }
        .imgMack {
          width: 98%;
          height: 300px;
          background: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 10px;
          left: 8px;
         color: #fff;
         font-size: 20px;
        line-height: 300px;
        text-align: center;
        }
      }
      .list {
        width: 100%;
        height: 100%;
        margin-top: 15px;
        padding: 20px;
        ul{
          height: 50px;
          align-items: center;
          display: flex;
    
          li{
            margin-left: 20px;
            
          }
          li:hover{
            color: #ff0064;
          }
          
        }
        h1{
          font-weight: bolder;
          font-size: 20px;
        }
        h1:hover{
          color: #ff0064;
        }
        .concent{
          width: 100%;
          height: 200px;
          border-top: 1px solid #ccc;
          .summary{
            width: 100%;
            display: flex;
            justify-content: space-between;
            p{
              width: 80%;
            }
            img{
              width: 150px;
              height: 100px;
            }
            .ico {
              span{
                margin-left: 10px;
              }
              }
          }
        }
    
           
           
      }
     
    }

    // 右边
    .right {
      width: 35%;
      margin-left: 2%;
      position: absolute;
      top: 0%;
      right: -8%;

      .read {
        width: 100%; 
        padding: 5px
      }

      .tag {
        width: 100%; 
        margin-top: 20px;
        padding: 5px
      }
    }
  }


  
    