.knowledge {
  width: 100%;
  display: flex;

  .knowledge_left {
    width: 100%;
    padding: 5px;
 

    .knowledgelist:hover {
      h1 b {
        color: #ff0064;
      }
    }

    .knowledgelist:first-child {
      border-top: none !important;
    }

    .knowledgelist {
      width: 100%; 
      padding: 15px;
      border-top: 1px solid #ccc;

      .summary {
        display: flex;
        justify-content: space-between;

        p {
          width: 80%;
        }

        img {
          width: 150px;
          height: 80px;
        }
      }

      .ico {
        span {
          margin-left: 10px;
          font-size: 15px;
          margin: 0 5px;
        }
      }
    }
  }



  .knowledge_right {
    width: 25%;
    margin-left: 2%;
    position: absolute;
    top: 0%;
    right: -2%;

    .read {
      width: 100%;
      padding: 5px
    }

    .tag {
      width: 100%;
      margin-top: 20px;
      padding: 5px
    }
  }
}