.message {
    width: 100%;
    height: 100%;

}

.tou {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin-left: 30px;
    text-align: center;
    font-weight: 600;
    line-height: 25px;

}

.pp {
    width: 100%;
    height: 350px;
}

h2 {
    padding-top: 10px;
}

h1 {
    /* text-align: center; */
    margin: 26px;
}

.content1 {
    width: 100%;
    height: 130px;
    border-top: 1px solid #ccc;
}

.shen {
    width: 100%;
    height: 100%;
}

.left1 {
    width: auto;
    height: 50px;
    display: flex;
    margin-top: 5px;
}

h3 {
    margin-left: 5px;
    width: auto;
    height: 50px;
}

.toux {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
}

.right1 p {
    margin-left: 35px;
}

.Fye {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin: 0 auto;
    margin-left: 160px;
}