.pigeonhole {
  width: 100%;
  height: 100%;
  .pigeonhole_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    width: 100%;
    height: 70px;
    text-align: center;
    /* background-color: blue; */
    border-bottom: 1px solid #ccc;
    .totalConts {
      color: #ff0064;
    }
  }
  .contents {
    h1 {
      margin-left: 20px;
      font-size: larger;
    }
    h3 {
      margin-left: 40px;
    }
    ul {
      margin-left: 70px;
      li {
        list-style: disc;
        line-height: 50px;
        cursor: pointer;
        span {
          margin-left: 10px;
        }
      }
      li:hover {
        color: #ff0064;
      }
    }
  }
  // 右边
  .right {
    width: 25%;
    margin-left: 2%;
    position: absolute;
    top: 0%;
    right: 3%;

    .read {
      width: 100%;
    }
  }
}
