.pigeonhole {
    width: 100%;
    height: 100%;
      .pigeonhole_head {
           display: flex;
           flex-direction: column;
           align-items: center;
           line-height: 20px;
           width: 100%;
           height: 70px;
           text-align: center;
           /* background-color: blue; */
           border-bottom: 1px solid #ccc;
          .totalConts{
              color: #ff0064;
              }
       }
       .pigeonhole_contents {
            transform-origin: 50% 0% 0;
            animation: sss 2s ease 1;
                h1{
                   margin-left: 20px;
                   font-size: larger;
                 }
                h3{
                   margin-left: 40px;
                 }
                ul{
                   margin-left: 70px;
                li{
                   animation: ssss 2s ease-out 1;
                   list-style: disc;
                   line-height: 50px;
                   cursor: pointer;  
                  span{
                    margin-left: 10px;
                    }
                }
                li:hover{
                  color: #ff0064;
                }
               }
       }
            // 右边
            .right {
              width: 25%;
              margin-left: 2%;
              position: absolute;
              top: 0%;
              right: -2%;
      
              .read {
                width: 100%;
                padding: 5px
              }
      
              .tag {
                width: 100%;
                margin-top: 20px;
                padding: 5px
              }
            }
}
  
@keyframes sss {
  0% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes ssss {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
