.shang{
    width: 100%;
    height: 250px;
    background-color: #fff;
    margin-left: 20px;
}
.left{
    float: left;
  margin-left: 20px;
   margin-top: 5px;
}
.right{
    margin-left: 10px;
   width: 90%;
    height: 200px;
    float: left;
    border: 1px solid #ccc;
    margin-top: 5px;
}
.xia{
    width: 100%;
    height: 50px;

}
.zuo{
    float: left;
    margin-left: 35px;
    margin-top: 10px;
}
button{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}