.left_classify{
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin-top: 30px;
        box-shadow: 5px 5px 5px #999;
}
.left_classify h2{
    padding: 5px;
        padding-left: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e6eb;
}
.left_classify ul li{
    padding: 0 20px;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left_classify ul li:hover{
    color: #ff0064;
}
