.masterLogin {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 1;
}

.login {
    width: 50%;
    height: 40%;
    position: relative;
    /* margin:0,auto; */
    background-color: #fff;
    transform: translate(-50%, -40%);
    left: 50%;
    top: 50%;
    padding: 10px;
}


