@import '~antd/dist/antd.css';
@import 'antd/dist/antd.css';
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@media screen and (max-width:750px) {
  .box {
    width: 100%;
    background-color: blue;
  }
}

@media screen and (min-width:750px) and (max-width:1000px) {
  .box {
    width: 49%;
    background-color: red;
  }
}

@media screen and (min-width:1000px) and (max-width:1200px) {
  .box {
    width: 33%;
    background-color: blue;
  }
}

@media screen and (min-width:1200px) {
  .box {
    width: 24%;
    background-color: yellow;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: none;
  /* color: #000; */
}

html,
body,
#root,
.home {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.home {
  display: flex;
  flex-direction: column;
}

.home header {
  width: 100%;
  height: 50px; 
}


/* .home  .main{
  width: 70%;
  height: 100%;
  margin: 0 auto; 
}
.home  .main .article{
  width: 100%;height:100%;
  overflow:auto;
  display: flex;
} */


.home main {
  width: 100%; 
  padding-bottom: 20%;
  padding-top: 2%; 
}
.home main .main {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: row;
}

.home main .main .content {
  width: 70%;
  height: 100%; 

}

.home main .main .catalogue {
  width: 25%;
  margin-left: 5%;
  height: 100%;
}

.home main .main .catalogue .recommend {
  width: 100%;
  height: 30%;
  margin-bottom: 10%;

}


.home main .main .catalogue .labelTag {
  width: 100%;
  height: 30%;

}