.left_con{
    width:50px;
    height: 120px;
    position:fixed;
    left: 60px;
    top: 280px;
}
.left_con div{
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    margin-top: 8px;
    color: black;
}
.left_con div:hover{
    color: #ff0064;
}
.badges{
    size: 10px;
}
.Modal{
    height: 500px;
}
.Modal img{
    width: 100%;
    height: 180px;
}
.Modal dl{
    display: flex;

}
.Modal dl dd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}
