// 推荐阅读
#recommend {
  width: 100%;
  box-shadow: 5px 5px 5px #999;

  h2 {
    padding: 5px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e6eb;
  }

  p:hover {
    color: #ff0064;
  }

  p {
    padding-left: 15px;
  }
}